.acme-navbar-text{
  color: $brand-beige;
}

h1 {
  font-size: 2em;
  line-height: 1.25em;
}

a:hover, a:focus {
  color: $brand-yellow;
}

.navbar {
  background-color: $brand-black;
}

.navbar-header {
  width: 100%;
  text-align: center;
}

.navbar-link-container {
  clear: left;
  min-height: 60px;
  width: 50%;
  margin: auto;

  ul {
    width: 100%;

    li{
      width: 50%;
      text-align: center;
    }
  }
}

// map styles

#map {
  height: 100%;
  width: 100%;
  min-height: 100px;
  min-width: 100px;
}
