<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="main-map-box text-center">

    <div id="map"></div>
    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        var uluru = {lat: 41.85, lng: -87.5};
        // The map, centered at Uluru
        var map = new google.maps.Map(
          document.getElementById('map'), {zoom: 4, center: uluru});
          // The marker, positioned at Uluru
          var marker = new google.maps.Marker({position: uluru, map: map});

          }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDStGD3GGQofSG2l4PDr_LCQwzAdoFHcL0&callback=initMap">
    </script>
  </div>
  <div class="main-data-box">
    <div class="locales-box">
      <div ng-if="loading">
        <h5>loading data<h5>
      </div>

      <ul ng-if="!loading">
        <li ng-repeat="locale in locales" class="locale-listing">
          <a ng-href="/#/locale/{{locale.id}}">
            <h5>{{locale.name}}, {{locale.prettyAddress}}<h5>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
